@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider Authentication
@inject NavigationManager Navigate

<div class="wrapper">
    <div class="sidebar">
        <h2>SPMS-OJT</h2>
        <ul>
            <li><a href="/student"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="/student/mytask"><i class="fas fa-solid fa-clipboard-list"></i> <span>My Tasks</span></a></li>
            <li><a href="/student/myrecord"><i class="fas fa-solid fa-list"></i> <span>Task Record</span></a></li>
            <li id="log-c">
                <a @onclick="Logout">
                    <i class="fas fa-solid fa-right-from-bracket"></i> <span>
                        Log
                        Out
                    </span>
                </a>
            </li>
        </ul>
    </div>
    @Body
</div>

@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("onLoadJs");
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("username");
        await LocalStorage.RemoveItemAsync("role");
        await Authentication.GetAuthenticationStateAsync();
        Navigate.NavigateTo("");
    }
}
