@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="wrapper">
    <div class="sidebar">
        <h2>SPMS-OJT</h2>
        <ul>
            <li><a href="/supervisor"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li>
                <a href="/supervisor/masterlist">
                    <i class="fas fa-solid fa-clipboard-list"></i> <span>
                        Master List
                    </span>
                </a>
            </li>
            <li><a href="/supervisor/task"><i class="fas fa-solid fa-list"></i> <span>Tasks</span></a></li>
            <li>
                <a href="/supervisor/taskrecord">
                    <i class="fas fa-solid fa-list-check"></i> <span>
                        Tasks Submitted
                    </span>
                </a>
            </li>
            <li id="log-c">
                <a href="../coordinatorside/login.html">
                    <i class="fas fa-solid fa-right-from-bracket"></i> <span>
                        Log Out
                    </span>
                </a>
            </li>
        </ul>
    </div>
    @Body
</div>

@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("onLoadJs");
    }
}
