.wrapper .main_content {
    width: 100%;
    margin-left: 230px;
}

@media (max-width:1600px) {
    .wrapper .main_content {
        margin-left: 110px;
    }
}

@media (max-width: 768px) {
    .wrapper .main_content {
        margin-left: 0;
    }
}

/* HEADER SECTION STARTS HERE */
.wrapper .main_content .header {
    padding: 10px;
    background: var(--dark-cyan);
    color: var(--white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .wrapper .main_content .header div .fas {
        width: 40px;
    }

    .wrapper .main_content .header #profile {
        margin-right: 20px;
        padding: 1.3rem;
        border-radius: 15px;
    }

        .wrapper .main_content .header #profile:hover {
            background-color: var(--hoversb);
            color: var(--dark-cyan);
        }

@media (max-width:996px) {

    .wrapper .main_content .header,
    .wrapper .main_content .header div {
        padding: 5px;
    }
}

/* HEADER SECTION ENDS HERE */

.content {
    margin: 50px;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    padding: 35px 45px;
}


    /*Form title*/
    .content h3 {
        margin-top: 30px;
        color: var(--dark-cyan);
    }

/* Form list*/
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

input[type=datetime-local] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

.row {
    display: flex;
}

    .row .forbutton {
        margin-left: auto;
    }

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    color: var(--casal);
    font-weight: 500;
}


label {
    margin: 10px;
    color: var(--casal);
    font-size: 23px;
}

/*Button*/
.forbutton button[type="submit"] {
    background: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 12px;
    font-size: 23px;
}

    .forbutton button[type="submit"]:hover {
        background-color: var(--submithover);
        color: var(--dark-cyan);
    }

.cancel-btn {
    background: var(--white);
    color: var(--dark-cyan);
    border: 1px solid var(--dark-cyan);
    border-radius: 12px;
    font-size: 23px;
    padding: 12px 20px;
}

    .cancel-btn:hover {
        background-color: var(--dark-cyan);
        color: var(--white);
    }

.forbutton input {
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
}

.forbutton button {
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 100px 100px;
    cursor: pointer;
    border: 1px solid var(--dark-cyan);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

@media (max-width:768px), (max-width:1200px) {
    .row {
        display: block;
    }
}

/*loading css*/
.line-wobble {
    --uib-size: 80px;
    --uib-speed: 1.75s;
    --uib-color: black;
    --uib-line-weight: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

    .line-wobble::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--uib-color);
        opacity: 0.1;
    }

    .line-wobble::after {
        content: '';
        height: 100%;
        width: 100%;
        border-radius: calc(var(--uib-line-weight) / 2);
        animation: wobble var(--uib-speed) ease-in-out infinite;
        transform: translateX(-95%);
        background-color: var(--uib-color);
    }

@keyframes wobble {
    0%, 100% {
        transform: translateX(-95%);
    }

    50% {
        transform: translateX(95%);
    }
}