@page "/supervisor/profile"
@layout SupervisorLayout
@inject NavigationManager NavManager
<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-home"></i> Profile</div>
        <a href="/supervisor/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- PROFILE PAGE CONTENT STARTS HERE -->
    <!-- PROFILE PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div>
            <img src="./css/images/Avatar-Profile-PNG-Picture.png">
            <h1>Diluc Ragvindr</h1>
            <p>Supervisor</p>
        </div>
    </section>
    <!-- PROFILE PAGE SECTION 1 ENDS HERE -->
        
    <!-- PROFILE PAGE SECTION 2 STARTS HERE -->
    <section class="admin-profile">
        <div class="admin-items">
            <table width="100%">
                <tr>
                    <td class="heading">Personal Information</td>
                </tr>
                <tr>
                    <td class="label">Name:</td>
                    <td class="admin-info">Diluc A. Ragvindr</td>
                </tr>
                <tr>
                    <td class="label">Address:</td>
                    <td class="admin-info">Dawn Winery, Mondstadt, Teyvat</td>
                </tr>
                <tr>
                    <td class="label">Contact Information:</td>
                    <td class="admin-info">Diluc@teyvat.com | 09123456789</td>
                </tr>
                <tr>
                    <td class="label">Citizenship:</td>
                    <td class="admin-info">Filipino</td>
                </tr>
                <tr>
                    <td class="label">Sex:</td>
                    <td class="admin-info">Male</td>
                </tr>
        
                <tr>
                    <td class="heading">Work Information</td>
                </tr>
                <tr>
                    <td class="label">School-issued E-mail:</td>
                    <td class="admin-info">DilucRagnvndr@instructor.dmmmsu.edu.ph</td>
                </tr>
                <tr>
                    <td class="label">College:</td>
                    <td class="admin-info">College of Information Technology</td>
                </tr>
                <tr>
                    <td class="label">School:</td>
                    <td class="admin-info">Don Mariano Marcos Memorial State University</td>
                </tr>
                <tr>
                    <td class="label">School Address:</td>
                    <td class="admin-info">Quezon Ave, San Fernando, La Union</td>
                </tr>
        
        
                <tr>
                    <td class="heading">Login Information</td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td class="admin-info">Diluc@teyvat.com</td>
                </tr>
                <tr>
                    <td class="label">Password:</td>
                    <td class="admin-info">richestbachelor</td>
                </tr>
            </table>
        
            <br>
            <div class="mt-4 d-flex justify-content-end">
                <button class="editbutton" @onclick="OnEditProfile">Edit Profile</button>
            </div>
            <br><br>
        </div>
    </section>
    <!-- PROFILE PAGE SECTION 2 ENDS HERE -->
    <!-- PROFILE PAGE CONTENT ENDS HERE -->
</div>

@code {
    private void OnEditProfile()
    {
        NavManager.NavigateTo($"/supervisor/profile/form/{1}");
    }
}
