@page "/supervisor/task"
@layout SupervisorLayout
@attribute [Authorize(Roles = "supervisor")]
@inject NavigationManager NavManager
@inject ITaskService TaskService
@inject IToastService Toast
@inject ILocalStorageService LocalStorage
@inject ILoginService LoginService

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-list"></i>Task</div>
        <a href="/supervisor/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- TASK PAGE CONTENT STARTS HERE -->
    <!-- TASK PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search task" name="search">
                <button type="submit" class="search-button">Search</button>
            </form>
            <button type="button" class="add-student-button" @onclick="OnAddClick">
                + Add New
                Task
            </button>
        </div>
    </section>
    <!-- TASK PAGE SECTION 1 ENDS HERE -->
    <!-- TASK PAGE SECTION 2 STARTS HERE -->
    <section class="studentable-s2">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Task Code</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in AllTasks)
                {
                    <tr>
                        <td>@task.TaskCode</td>
                        <td>@task.TaskName</td>
                        <td>@task.Description</td>
                        <td>@task.Deadline.ToLongDateString()</td>
                        <td>
                            <button type="button" class="edit-del-student-button" @onclick="() => OnEditClick(task.Id)">
                                Edit
                            </button>
                            <button type="button" class="edit-del-student-button"
                                     @onclick="() => OnDeleteClick(task)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
                <!-- and so on... -->
            </tbody>
        </table>
    </section>
    <!-- TASK PAGE SECTION 2 ENDS HERE -->
    <!-- TASK PAGE CONTENT ENDS HERE -->
</div>

@code {

    List<Tasks> AllTasks = new List<Tasks>();
    Supervisor supervisor = new Supervisor();

    protected override async Task OnInitializedAsync()
    {
        var username = await LocalStorage.GetItemAsStringAsync("username");
        supervisor = await LoginService.GetSupervisor(username);
        AllTasks = await TaskService.GetAllTaskPerSupervisor(supervisor.Id);
    }

    private void OnAddClick()
    {
        NavManager.NavigateTo("supervisor/task/form");
    }

    private void OnEditClick(int taskId)
    {
        NavManager.NavigateTo($"supervisor/task/form/{taskId}");
    }

    private async Task OnDeleteClick(Tasks task)
    {
        var result = await TaskService.DeleteTasks(task);
        Toast.ShowSuccess("Task Successfully Deleted", "Deleted");
        AllTasks = await TaskService.GetAllTaskPerSupervisor(supervisor.Id);
    }
}
