.main_content {
    width: 100%;
    margin-left: 0px;
}

/* HEADER SECTION STARTS HERE */
.wrapper .main_content .header,
.wrapper .main_content .header div {
    padding: 10px;
    background: var(--dark-cyan);
    color: var(--white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .wrapper .main_content .header div .fas {
        width: 40px;
    }

/* HEADER SECTION ENDS HERE */


/*ADMIN LOGIN CSS STARTS HERE*/
.login-bg {
    background-image: linear-gradient(to bottom right, #86ffe1, #31d69f, #037043);
    background-size: cover;
}

.header-login {
    box-shadow: 0 2px 4px 0 rgba(3, 0, 0, 3);
    color: var(--dark-cyan);
    padding: 0px 10px 0px 10px;
    color: #ffffff;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #105157;
}

.inqButton {
    background-color: #00bdbd;
    color: white;
    padding: 14px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    font-size: 23px;
}

.footer {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, .8, .8);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #105157;
    color: rgb(255, 255, 255);
    text-align: center;
}
