@inherits LayoutComponentBase

<div>
    <div class="wrapper">
        <!-- HEADER STARTS HERE -->
        <div class="main_content">
            <div class="header-login">
                <div><i class="fas fa-solid fa-users"></i> DMMMSU MLUC SPMS-OJT</div>
                <div><button class="inqButton">INQUIRE</button></div>
            </div>
            <!-- HEADER ENDS HERE -->
            @Body
            <div class="footer">
                Student Progress Monitoring System for OJT | BSIT-3B 2022
            </div>
        </div>
    </div>
</div>
