@page "/coordinator"
@layout CoordinatorLayout
@attribute [Authorize(Roles = "coordinator")]
@inject ITraineeService TraineeService
@inject ISupervisorService SupervisorService
@inject IOrganizationService OrganizationService 

<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-home"></i> Dashboard</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- DASHBOARD PAGE CONTENT STARTS HERE -->
    <!-- DASHBOARD PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div>
            <h1>Welcome back, Coordinator!</h1>
            <p>Here's an overview of your account</p>
        </div>
        <img src="./css/images/admin-dashboard.svg">
    </section>
    <!-- DASHBOARD PAGE SECTION 1 ENDS HERE -->
    <!-- DASHBOARD PAGE SECTION 2 STARTS HERE -->
    <section class="admindb-s2">
        <div class="db-item">
            <a href="trainee.html">
                <h3>Trainee</h3>
                <h4>@Trainees.Count</h4>
            </a>
        </div>

        <div class="db-item">
            <a href="supervisor.html">
                <h3>Supervisor</h3>
                <h4>@Supervisors.Count</h4>
            </a>
        </div>

        <div class="db-item">
            <a href="organization.html">
                <h3>Organization</h3>
                <h4>@Organizations.Count</h4>
            </a>
        </div>
    </section>
</div>


@code {
    List<Organization> Organizations = new List<Organization>();
    List<Supervisor> Supervisors = new List<Supervisor>();
    List<Trainee> Trainees = new List<Trainee>();

    protected override async Task OnInitializedAsync()
    {
        Organizations = await OrganizationService.GetAllOrganization();
        Supervisors = await SupervisorService.GetAllSupervisor();
        Trainees = await TraineeService.GetAllTrainee();
    }
}
