@page "/coordinator/organization/form"
@page "/coordinator/organization/form/{Id:int}"
@layout CoordinatorLayout
@attribute [Authorize(Roles = "coordinator")]
@inject IOrganizationService OrganizationService
@inject IToastService Toast
@inject NavigationManager NavManager
@inject IJSRuntime JsRun
<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-building"></i>Add Organization</div>
        <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- ADD ORGANIZATION STARTS HERE -->
    <div class="content">
        <EditForm Model="organization" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <h3>Organization Information</h3>
            <hr>
            <div class="row">
                <div class="col">
                    <label for="orgname">Organization's Name</label>
                    <ValidationMessage For="() => organization.org_name" />
                    <input type="text" id="orgname" @bind-value="organization.org_name" placeholder="Organization's Name">
                </div>
                <div class="col">
                    <label for="baddress">Branch Address</label>
                    <ValidationMessage For="() => organization.branch_address" />
                    <input type="text" id="baddress" @bind-value="organization.branch_address" placeholder="Branch Address">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="cperson">Contact Person</label>
                    <ValidationMessage For="() => organization.contact_person" />
                    <input type="text" id="cperson" @bind-value="organization.contact_person" placeholder="Contact Person">
                </div>
                <div class="col">
                    <label for="contactnum">Contact Number</label>
                    <ValidationMessage For="() => organization.contact_number" />
                    <input type="text" id="contactnum" @bind-value="organization.contact_number" placeholder="Contact Number">
                </div>
            </div>

            <div class="row">
                <div class="forbutton">
                    <button type="submit">SUBMIT</button>
                    <a href="/coordinator/organization" class="cancel-btn">CANCEL</a>
                </div>
            </div>
        </EditForm>
    </div>
    <!-- ADD ORGANIZATION ENDS HERE -->
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    Organization organization = new Organization();

    protected async override Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            organization = await OrganizationService.GetOrganization(Id.Value);
        }
    }

    private async Task OnSubmit()
    {
        if (organization.Id == 0)
        {
            var result = await OrganizationService.AddOrganization(organization);
            if (result != null)
            {
                Toast.ShowSuccess("New Organization Added", "Success");
                NavManager.NavigateTo("coordinator/organization");
            }
        }
        else
        {
            var result = await OrganizationService.UpdateOrganization(organization);
            if (result != null)
            {
                Toast.ShowSuccess("Organization Successfully Updated", "Success");
                NavManager.NavigateTo("coordinator/organization");
            }
        }

    }
}
