@page "/coordinator/organization"
@layout CoordinatorLayout
@inject NavigationManager NavManager
@inject IOrganizationService OrganizationService
@inject IToastService Toast

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-building"></i>Organization</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- ORGANIZATION PAGE CONTENT STARTS HERE -->
    <!-- ORGANIZATION PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search organization" name="search">
                <button type="submit" class="search-button">Search</button>
            </form>
            <button type="button" class="add-student-button" @onclick="OnAddClick">
                +
                Add New Organization
            </button>
        </div>
    </section>
    <!-- ORGANIZATION PAGE SECTION 1 ENDS HERE -->
    <!-- ORGANIZATION PAGE SECTION 2 STARTS HERE -->
    <section class="studentable-s2">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Organization Name</th>
                    <th>Branch</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var org in Organizations)
                {
                    <tr>
                        <td>@org.org_name</td>
                        <td>@org.branch_address</td>
                        <td>@org.contact_person</td>
                        <td>@org.contact_number</td>
                        <td>
                            <button type="button" class="edit-del-student-button"
                                    @onclick="() => OnEditClick(org.Id)">
                                Edit
                            </button>
                            <button type="button" class="edit-del-student-button"
                                    @onclick="() => OnDeleteClick(org)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }

                <!-- and so on... -->
            </tbody>
        </table>
    </section>
    <!-- ORGANIZATION PAGE SECTION 2 ENDS HERE -->
    <!-- ORGANIZATION PAGE CONTENT ENDS HERE -->
</div>

@code {
    List<Organization> Organizations = new List<Organization>();



    protected override async Task OnInitializedAsync()
    {
        Organizations = await OrganizationService.GetAllOrganization();
    }

    private void OnAddClick()
    {
        NavManager.NavigateTo("coordinator/organization/form");
    }

    private void OnEditClick(int organizationId)
    {
        NavManager.NavigateTo($"coordinator/organization/form/{organizationId}");
    }

    private async Task OnDeleteClick(Organization organization)
    {
        var result = await OrganizationService.DeleteOrganization(organization);
        Toast.ShowSuccess("Organization Successfully Deleted", "Deleted");
        Organizations = result;
    }

}
