@page "/coordinator/student"
@layout CoordinatorLayout
@inject NavigationManager NavManager
@inject IUserService UserService
@inject IToastService Toast

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-users"></i>Students</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- STUDENT PAGE CONTENT STARTS HERE -->
    <!-- STUDENT PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search student" name="search">
                <button type="submit" class="search-button">Search</button>
            </form>
            <button type="button" class="add-student-button" @onclick="OnAddClick">
                + Add New
                Student
            </button>
        </div>
    </section>
    <!-- STUDENT PAGE SECTION 1 ENDS HERE -->
    <!-- STUDENT PAGE SECTION 2 STARTS HERE -->
    <section class="studentable-s2">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>College</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Users)
                {
                    <tr class="active-row">
                        <td>@user.idnumber</td>
                        <td>@user.last_name</td>
                        <td>@user.first_name</td>
                        <td>@user.college</td>
                        <td>
                            <button type="button" class="edit-del-student-button"
                                    @onclick="() => OnEditClick(user.Id)">
                                Edit
                            </button>
                            <button type="button" class="edit-del-student-button"
                                     @onclick="() => OnDeleteClick(user)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
                <!-- and so on... -->
            </tbody>
        </table>
    </section>
    <!-- STUDENT PAGE SECTION 2 ENDS HERE -->
    <!-- STUDENT PAGE CONTENT ENDS HERE -->
</div>

@code {

    List<User> Users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        Users = await UserService.GetAllUser();
    }

    private void OnAddClick()
    {
        NavManager.NavigateTo("coordinator/student/form");
    }

    private void OnEditClick(int studentId)
    {
        NavManager.NavigateTo($"coordinator/student/form/{studentId}");
    }

    private async Task OnDeleteClick(User user)
    {
        var result = await UserService.DeleteUser(user);
        Toast.ShowSuccess("User Successfully Deleted", "Deleted");
        Users = result;
    }
}
