@page "/coordinator/supervisor"
@layout CoordinatorLayout
@inject NavigationManager NavManager


<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-id-badge"></i>Supervisor</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- SEARCH BAR AND BUTTONS STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search supervisor" name="search">
                <button type="submit" class="search-button">Search</button>
            </form>
            <button type="button" class="add-student-button" @onclick="OnAddClick">+ Add New Supervisor</button>
        </div>
    </section>
    <!-- SEARCH BAR AND BUTTONS ENDS HERE -->
    <!-- COORDINATOR SECTION STARTS HERE -->
    <section class="admindb-s2">
        <div class="db-item">
            <div>
                <div class="w-100 d-flex justify-content-center">
                    <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
                </div>
                <h3>Draft, Mema Name</h3>
                <p>School</p>
                <p>College</p>
                <div>
                    <button type="button" class="edit-coordinator-button" onclick="location.href='edit-supervisor.html';">Edit</button>
                    <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
                </div>
            </div>
        </div>

        <div class="db-item">
            <div>
                <div class="w-100 d-flex justify-content-center">
                    <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
                </div>
                <h3>Draft, Mema Name</h3>
                <p>School</p>
                <p>College</p>
                <div>
                    <button type="button" class="edit-coordinator-button" onclick="location.href='edit-supervisor.html';">Edit</button>
                    <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
                </div>
            </div>
        </div>

        <div class="db-item">
            <div>
                <div class="w-100 d-flex justify-content-center">
                    <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
                </div>
                <h3>Draft, Mema Name</h3>
                <p>School</p>
                <p>College</p>
                <div>
                    <button type="button" class="edit-coordinator-button" onclick="location.href='edit-coordinator.html';">Edit</button>
                    <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- COORDINATOR SECTION ENDS HERE -->

@code {
    private void OnAddClick()
    {
        NavManager.NavigateTo("coordinator/supervisor/form");
    }
}
